In [1]:
from gui.GUI import GUI
gui=GUI()
# gui.setUpStage()

HTML(value='<style>.output_wrapper, .output {\n                    height:auto !important;\n                    max-height:1000px;  /* your desired max-height here */\n                }\n                .output_scroll {\n                    box-shadow:none !important;\n                    webkit-box-shadow:none !important;\n                }\n                </style>')

In [2]:
gui.start()

2
{'api_key': 'd3c0fd1b-cef4-406d-bcb9-7ec3c0689b2e', 'glove_path': '', 'db': 'sqlite+pysqlite:///data/demo.sqlite', 'status': {'default': 0, 'workflow1': 1, 'workflow_0': 2}}

VBox(children=(HTML(value='', description='<h4>Import files from: </h4><p>/home/brokenjade/Documents/PycharmProjects/SmartAnno/SmartAnno/data/train</p>'), IntProgress(value=0, layout=Layout(width='50%'), max=17), Label(value='', layout=Layout(height='10px')), IntProgress(value=1, layout=Layout(height='10px', left='1%', width='98%'), max=1, style=ProgressStyle(bar_color='GAINSBORO')), Label(value='', layout=Layout(height='1px')), HBox(children=(Button(description='Previous', layout=Layout(width='90px'), style=ButtonStyle(button_color='SILVER')), Button(description='Next', disabled=True, layout=Layout(left='100px', width='90px'), style=ButtonStyle(button_color='SANDYBROWN'))), layout=Layout(left='10%', width='80%'))))

Totally 17 files have been imported into dataframe.

In [17]:
gui.workflow.steps[2].data

    doc_name                                               text bunch_id
0  100_0.txt  Record date: 2106-02-12\n\nCampbell Orthopedic...      100
0  100_1.txt  Record date: 2108-03-14\n\n                   ...      100
0  100_2.txt  Record date: 2109-09-14\n\n \nSeptember 14, 21...      100
0  100_3.txt  Record date: 2111-10-10\n\n    \n\n\n\nCCU JAR...      100
0  100_4.txt  Record date: 2111-12-14\n\n \n\n\n\nNEUROLOGY ...      100
0  101_0.txt  Record date: 2079-05-12\n\n\n\n\n\nMERCY CARE ...      101
0  101_1.txt  Record date: 2079-06-23\n\n\n\n\nMERCY CARE CE...      101
0  101_2.txt  Record date: 2079-08-11\n\n\n\n\nMERCY CARE CE...      101
0  102_0.txt  Record date: 2120-09-19\n\nPersonal Data and O...      102
0  102_1.txt  Record date: 2123-11-25\n\n\t\t\t\n\nNPH 9 / R...      102
0  102_2.txt  Record date: 2124-09-28\n\n\t\t\t\n\nNPH 20\n\...      102
0  102_3.txt  Record date: 2126-11-07\n\n\n\n\tCARDIOLOGY\n\...      102
0  102_4.txt  Record date: 2127-09-30\n\n\n\n\tCARDIOLOGY\n\...      102
0  103_0.txt  Record date: 2067-11-24\n\n                   ...      103
0  103_1.txt  Record date: 2068-01-25\n\n                   ...      103
0  103_2.txt  Record date: 2068-09-21\n\nEDVISIT^84091519^Th...      103
0  103_3.txt  Record date: 2072-01-01\n\nEDVISIT^84091519^TH...      103

In [3]:
df=gui.workflow.steps[2].data

In [4]:

df.iloc[0,:]

text    Record date: 2106-02-12\n\nCampbell Orthopedic...
Name: 100_0.txt, dtype: object

In [8]:
for n in df.index:
    print(n)

100_0.txt
100_1.txt
100_2.txt
100_3.txt
100_4.txt
101_0.txt
101_1.txt
101_2.txt
102_0.txt
102_1.txt
102_2.txt
102_3.txt
102_4.txt
103_0.txt
103_1.txt
103_2.txt
103_3.txt

In [19]:
df['bunch_id2'] = df.apply(lambda row: row.index.split('_')[0], axis=1)

In [24]:
df

    doc_name                                               text bunch_id
0  100_0.txt  Record date: 2106-02-12\n\nCampbell Orthopedic...      100
0  100_1.txt  Record date: 2108-03-14\n\n                   ...      100
0  100_2.txt  Record date: 2109-09-14\n\n \nSeptember 14, 21...      100
0  100_3.txt  Record date: 2111-10-10\n\n    \n\n\n\nCCU JAR...      100
0  100_4.txt  Record date: 2111-12-14\n\n \n\n\n\nNEUROLOGY ...      100
0  101_0.txt  Record date: 2079-05-12\n\n\n\n\n\nMERCY CARE ...      101
0  101_1.txt  Record date: 2079-06-23\n\n\n\n\nMERCY CARE CE...      101
0  101_2.txt  Record date: 2079-08-11\n\n\n\n\nMERCY CARE CE...      101
0  102_0.txt  Record date: 2120-09-19\n\nPersonal Data and O...      102
0  102_1.txt  Record date: 2123-11-25\n\n\t\t\t\n\nNPH 9 / R...      102
0  102_2.txt  Record date: 2124-09-28\n\n\t\t\t\n\nNPH 20\n\...      102
0  102_3.txt  Record date: 2126-11-07\n\n\n\n\tCARDIOLOGY\n\...      102
0  102_4.txt  Record date: 2127-09-30\n\n\n\n\tCARDIOLOGY\n\...      102
0  103_0.txt  Record date: 2067-11-24\n\n                   ...      103
0  103_1.txt  Record date: 2068-01-25\n\n                   ...      103
0  103_2.txt  Record date: 2068-09-21\n\nEDVISIT^84091519^Th...      103
0  103_3.txt  Record date: 2072-01-01\n\nEDVISIT^84091519^TH...      103

In [25]:
df.to_sql('document', gui.workflow.dao._engine.raw_connection(), flavor='sqlite',if_exists='append')

/home/brokenjade/software/anaconda3/envs/tensorflow/lib/python3.6/site-packages/pandas/io/sql.py:531: FutureWarning: the 'flavor' parameter is deprecated and will be removed in a future version, as 'sqlite' is the only supported option when SQLAlchemy is not installed.
  _validate_flavor_parameter(flavor)

OperationalError: table document has no column named index

In [7]:
import os
from sqlalchemy_dao import Dao
from db.ORMs import Document,Annotation
from sqlalchemy_dao import Model
from conf.ConfigReader import ConfigReader
import sqlalchemy_dao
import os.path
dbfile=ConfigReader().getValue('db')
if os.path.isfile(dbfile):
    os.remove(dbfile)
dao = Dao(dbfile,sqlalchemy_dao.POOL_DISABLED)
Model.metadata.create_all(bind=dao._engine)